<%- include('layouts/header.ejs', {title:"Home"}) %>

    <section id="proyectos" class="container mb-5">
        <h2>Proyectos Mobile</h2>

            <% for (let i= 0; i < proyectos.length; i++) { %>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>Nombre : <%=proyectos[i].name%></a></li>
                            <li>Descripción : <%=proyectos[i].description%></li>
                            <li>Link : <a href="<%= proyectos[i].link%>" target="_blank"><%= proyectos[i].link%></a></li>
                            <li>Tecnologías : <%=proyectos[i].technologies%> </li>
                          </ul>
                    </div>
                    <div class="col-lg-6">
                        <img src="<%= proyectos[i].img %> " alt="" srcset="">
                    </div>

                </div>
             <%}%>  

    </section>

<%- include('layouts/footer.ejs') %> 